body {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  text-align: center;
}

.carousel-wrapper {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}