<body>
  <h1>Director de la banda titular</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut odio repudiandae suscipit asperiores incidunt facere vero iste error nobis vel vitae sed dolorum corporis quo earum ratione reprehenderit dolorem facilis, quos distinctio nemo alias! Natus ea ullam laborum perspiciatis sequi illum soluta, iusto alias, assumenda ad aliquid? Laborum, optio sint, unde odio architecto enim incidunt consectetur iusto doloribus nostrum debitis, nemo laboriosam pariatur fugit? Expedita rerum voluptatum exercitationem aliquid tempore quam molestias ducimus veritatis at quod corporis dignissimos provident doloribus blanditiis illo, praesentium earum similique consequuntur! Libero porro ea nam dignissimos maiores eaque dicta neque! Dolore ipsam autem quasi.</p>
  <div class="carousel-wrapper">
    <app-carrusel [images]="imagesDirector"></app-carrusel>
  </div>
</body>
<app-footer></app-footer>