@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
    font-size: 16px;
}

@media (max-width: 768px) {
    /* Vista tablet */
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /* Vista móvil */
    body {
        font-size: 12px;
    }
}

@layer components {
    /* .btn {
      @apply px-3 py-2 bg-[#fed136] text-white rounded-md text-sm;
    } */
    /* Estilo inicial del botón */
    .btn {
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.5s ease,
        transform 0.3s ease;
    }

    /* Cambia el estilo al pasar el ratón */
    .btn:hover {
        color: #fbbf24;
    }

    /* Cambia el estilo cuando el botón tiene foco (por teclado) */
    .btn:focus {
        background-color: #fed136;
        color: white;
        transform: scale(1.05); /* Un ligero aumento de tamaño */
        transition: 0.15s;
    }

    .btn:hover:focus {
        background-color: #fbbf24;
        transform: scale(1.05); /* Un ligero aumento de tamaño */
        transition: 0.15s;
    }

    .btn2 {
        color: white;
        background-color: #fed136;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        transform: scale(0.95); /* Un ligero aumento de tamaño */
        transition: 0.15s;
        font-size: 1.5em;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    }

    .btn2:hover {
        background-color: #fbbf24;
        transform: scale(1.05); /* Un ligero aumento de tamaño */
        transition: 0.15s;
    }
}
