<div [class.solid-bg]="isScrolled" class="nav-bar">
  <div class="nav-bar-left">
    <img alt="Menú" src="assets/images/logo.jpg"/>
  </div>
  <div class="nav-bar-center">
    <button routerLink="/">Inicio</button>
    <button (mouseover)="toggleSubMenu()" routerLink="/sobre-nosotros">Sobre nosotros</button>
    @if (isSubmenuOpen) {
      <ul [class.solid-bg]="isScrolled" (mouseleave)="toggleSubMenu()" class="submenu">
        <li><button (click)="toggleSubMenu()"  routerLink="/directores">Directores</button></li>
        <li><button (click)="toggleSubMenu()" routerLink="/historia">Historia</button></li>
        <li><button (click)="toggleSubMenu()" routerLink="/banda-juvenil">Banda juvenil</button></li>
      </ul>
    }
    <button routerLink="/contacto">Contáctanos</button>
    <button routerLink="/conciertos">Conciertos</button>
  </div>
  <div class="nav-bar-right">
    <!-- Aquí añadir cosas a la derecha? -->
  </div>
</div>