<div [class.solid-bg]="isScrolled" class="nav-bar">
  <div class="nav-bar-left">
    <img alt="Menú" src="https://scontent-mad1-1.xx.fbcdn.net/v/t39.30808-6/324415469_1172687783615899_5413108076908910157_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=hbPUm_WN45oQ7kNvgFuK8YS&_nc_oc=AdnpwYLnKrJnG79YcmFt8cyBT_wUsnT45TpGTQJLN3lxbjwXk3Fe3x6ybXDt-eP74ag&_nc_zt=23&_nc_ht=scontent-mad1-1.xx&_nc_gid=-xbY5QHZujQ6206nTGdMLA&oh=00_AYFk_ff6HupstIh02p8ojl8rjpJYdVhsiSHsLIZ8FQTpJA&oe=67E50C45"/>
  </div>
  <div class="nav-bar-center">
    <a href="/">
      <span>Home</span>
    </a>
    <a href="/">
      <span>About</span>
    </a>
    <a href="/">
      <span>Contact</span>
    </a>
  </div>
  <div class="nav-bar-right">
    <!-- Aquí añadir cosas a la derecha?-->
  </div>
</div>